.top-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(138, 228, 255);
  margin: 0;
  padding: 20px 0;
  color: black;
  border-radius: 10px;
}

.top-header .telefono {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  font-size: 30px;
}

.telefono .simbolo::before {
  content: "\1F4DE";
  /*simbolo telefono*/
}

@media (max-width: 1500px) {
  .telefono .numero {
    display: none;
  }
}

.separador {
  margin-right: 15px;
}

#enviar {
  background-color: rgb(138, 228, 255);
  color: black;
  padding: 20px;
  font-size: 25px;
  border: 2px solid rgb(138, 228, 255);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#enviar:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.navi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-bottom: 2px solid rgb(138, 228, 255);
}

.navi ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navi li {
  margin-right: 15%;
  border: 1px solid rgb(138, 228, 255);
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main {
  flex-grow: 1;
  padding: 20px;
}

.bienvenida {
  background-color: white;
  padding: 20px;
  border: 2px solid rgb(138, 228, 255);
  border-radius: 10px;
  text-align: center;
}

.bienvenida h2 {
  color: black;
  font-size: 2em;
  margin-bottom: 10px;
}

.bienvenida p {
  font-size: 1.2em;
  margin: 10px 0;
}

.bienvenida ul {
  list-style-type: none;
  padding: 0;
}

.bienvenida ul li {
  background-color: rgb(138, 228, 255);
  color: black;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bienvenida ul li:hover {
  background-color: rgb(0, 195, 255);
}

aside h3 {
  background-color: rgb(138, 228, 255);
  color: black;
  padding: 10px;
}

aside {
  width: 300px;
  background-color: white;
  border: 2px solid rgb(138, 228, 255);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(138, 228, 255);
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.contenedor {
  display: flex;
  min-height: 50vh;
}

body {
  height: 100%;
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
}

li:hover {
  background-color: rgb(138, 228, 255);
  color: black;
}

.telefono input[type='submit'] {
  background-color: white;
  color: black;
  padding: 20px;
  font-size: 25px;
  border: 2px solid rgb(138, 228, 255);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.telefono input[type='submit']:hover {
  background-color: rgb(67, 208, 251);
  color: black;
  cursor: pointer;
}

input[type='submit'] {
  background-color: rgb(138, 228, 255);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type='submit']:hover {
  background-color: white;
  color: black;
  border: 1px solid rgb(0, 195, 255);
}

.listado {
  background-color: white;
  padding: 20px;
  margin-top: -10px;
  border: 2px solid rgb(138, 228, 255);
  border-radius: 10px;
}

.formulario-editar label {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 8px;
  padding-left: 30px;
  color: black;
  border: 2px solid rgb(138, 228, 255);
  border-radius: 5px;
}

.formulario-editar label:hover {
  background-color: rgb(138, 228, 255);
  color: black;
}

.formulario-editar .clave input {
  margin-right: 10px;
}

.error-formulario {
  font-size: medium;
  color: red;
  background-color: white;
  margin: 0;
  padding: 15px;
  border: 2px solid rgb(138, 228, 255);
  border-radius: 5px;
}

a {
  color: black;
  text-decoration: none;
}

.confirmacion-datos {
  font-size: x-large;
  background-color: lightgreen;
}

.accion-a-realizar {
  background-color: white;
  padding: 10px;
  border: 2px solid rgb(138, 228, 255);
  border-radius: 10px;
}

.accion-a-realizar p {
  font-size: large;
}

.accion-a-realizar ul li {
  list-style-type: none;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.datos-cada-usuario,
.datos-cada-incidencia {
  background-color: white;
  padding: 10px;
  flex: 1;
  border: 1px solid rgb(138, 228, 255);
  border-radius: 10px;
}

.datos-cada-usuario li:hover {
  background-color: rgb(138, 228, 255);
  color: black;
}

.datos-cada-usuario li {
  list-style-type: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.datos-total {
  background-color: white;
  border: 2px solid rgb(138, 228, 255);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.paginacion,
.registros_pag,
form.registros_pag input[type='submit'] {
  display: block;
  margin: 5px auto;
  font-size: large;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin: 10px;
}

.boton-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botones-editar-logout {
  display: flex;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-editar {
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rol {
  color: black;
  font-size: small;
  margin: 0;
}

.autores {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.autores a:hover {
  background-color: rgb(0, 195, 255);
  color: black;
}

.fotos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.foto .texto {
  text-align: left;
  font-size: large;
  margin: 3% 20% 1% 20%;
}

.foto p {
  text-align: left;
  font-size: large;
  margin: 1% 20%;
  font-weight: bold;
}

.foto h2 {
  text-align: center;
  color: black;
}

.foto img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.reservas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.res-card {
  border: 1px solid rgb(138, 228, 255);
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: calc(33% - 20px);
  background-color: white;
}

.imagenes-incidencia {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.cada-imagen-incidencia {
  width: 30%;
  margin-bottom: 10px;
}

.log {
  width: 50%;
  background-color: rgb(138, 228, 255);
  color: black;
  border-radius: 10px;
}

.log h3 {
  margin: 10px;
}

.fila-log:nth-of-type(odd) {
  background-color: white;
}

.fila-log:nth-of-type(even) {
  background-color: rgb(138, 228, 255);
}

.fila-log {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.fecha-log {
  color: rgb(0, 115, 255);
}

.descrip-log {
  text-decoration: bold;
}

.adminbbdd {
  display: block;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  height: 20px;
  background-color: rgb(138, 228, 255);
  /* Color principal del botón */
  color: black;
  /* Color de texto blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Animación de cambio de color al pasar el cursor */
}

.adminbbdd:hover {
  background-color: rgb(108, 198, 235);
  /* Color más oscuro al pasar el cursor */
}